header{
    display: flex;
    justify-content: center;
    align-items: center;


    height: 60px;
    background-color: #8C6896;
    color: beige;
}

.main{
    height: 1200px;
    background-color: #D3BCDB;
    display: flex;
    flex-flow: column;
    align-items: center;
}

input{
    font-size: 50px;
    color: black;
    background-color: beige;
    border-radius: 120px;
    padding: 40px 70px 40px 70px;
}

footer{
    height: 20px;
    background-color: #8C6896;
    font-size: 20px;
    color: beige;

    display: flex;
    justify-content: center;
    align-items: center;
}