<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <link rel="stylesheet" type="text/css" href="./i/static/css/top.css">
    <title>nasukagami</title>
  </head>

  <boby>
    <header>
      <p>ナスカガミ</p>
    </header>
  
    <div class="main">
        <p class="title">ナスカガミ</p>
        <p class="subtitle">ナスの鮮度ウツシマス<br>AI×鮮度診断</p>
        <div class="nasukagami"><img src="./i/img/nasukagami.png"></div>
        <a href="/uploadpage" class="startbtn">はじめる！</a>
    </div>
  
    <div class="howto-bar">
      <p>やり方</p>
    </div>
  
    <div class="howto-content">
      <div class="howto-text">
        <p>1. カメラロールから<span>ナス</span>の写真を選んでクダサイ。</p>
       <p>2. ok!を押すと結果が表示されマス。</p>
      </div>
    </div>
  
    <div class="caution-bar">
      <p>注意</p>
    </div>
  
    <div class="caution-content">
      <div class="caution-text">
        <p>本アプリは<span>画像判断</span>しかデキマセン。</p>
        <p>においや質感はAIの判断材料には<span>含まれない</span>ので予めご了承クダサイ。</p>
        <p>素人監修なのであくまで<span>参考程度</span>にお願いイタシマス。</p>
      </div>
      <a href="/uploadpage" class="startbtn">はじめる！</a>
    </div>
  
    <footer>
      <small>copyright@パクチー嫌い</small>
    </footer>
  </body>

  
</html> 